body {
    background-color: beige;
    color:blue;
    text-align: justify;
    font-size: 25px;
}

h1 {
    background-color: darkred
    color: antiquewhite;
    text-align: center;
    font-size: 30px;
}